*{
  font-family: 'Inter Tight', sans-serif;
}

video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1{
  margin-left: 40px;
}

.App{
  background-color: rgba(255, 255, 255, 0.5);
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.search{
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  margin-right: 85px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right:7px;
  margin-top: 5px;
}

ul{
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li{
  display: block;
  padding: .4em .4em .4em .8em;
  font-weight: bolder;
}

li:hover{
  background: rgb(244, 244, 155);
}

.btn{
  background: #dbecc4;
  border: none;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 20px;
}

.recipeName{
  margin-left: 40px;
  
}

.recipeImage{
  margin-left: 40px;
  border-radius: 10px;
  border: 1px solid green;
}

.calories{
  font-weight: bold;
}


/* Mobile version */


@media all and (max-width: 500px) {
  .search{
    width: 80%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    margin-right: 65px;
    margin-left: 16px;
    box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }

  .recipeImage{
    width: 70%;
  }

  .icon{
    width: 13px;
    height: 13px;
  }

  li{
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.recipeName{
  font-size: 17px;
}
}
